html,
body {
    height: 100%;
    font-family: Verdana
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #555459;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.row_cont
{
   display: inline-block;
}


.editor
{
    font-size: 9px;
    vertical-align: middle !important;
}

.PostImage
{
    display: inline;
    vertical-align: bottom;
    max-height: 40px;
    max-width: 40px;
    text-align: center;
}
.status_icon
{
    display: block;
}
.activePost
{
    color:#93c54b;
    cursor: pointer;
}
.unactivePost
{
    color: #d9534f;
    cursor: pointer;
}
.ActiveLink:hover, .ActiveLink:focus
{
    text-decoration: none
}
td.text-center
{
    vertical-align: middle !important;
}
button.addPostImages
{
    margin:0;
    padding: 0;
    border: 0;
    background: none;
}
/*Login Page*/
.site-login
{
    width:450px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);;
    padding: 20px 50px;
    position: relative;
    top: 100px;
    border: 1px #dfd7ca solid;
    border-radius: 15px;
}
.login-body
{
    background-color: #79756F;
    margin:0;
}
.submit-login
{
    background-color: #79756F;
    border: 1px #dfd7ca solid;
    border-radius: 1px;
    color:#dfd7ca;
    padding: 5px 20px;
}
.more
{
    display: none;
}
.next-thumb
{
    margin: 0;
    padding: 0;
    float:right;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.next-thumb:hover
{
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.without-left
{
    border-left:0 !important;
    margin-left: -20px;
}
.without-right
{
    border-right:0 !important;
}
.post-image
{
    display: inline-block;
    padding: 0 5px;
    vertical-align: bottom
}

.messages
{
    position: fixed;
    right: 50px;
    top: 55px;
    padding: 20px 0;
    width: 350px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(115, 115, 115, 0.75);
    border-radius: 4px;
    color:#3c763d;
    line-height: 18px;
    font-weight: 900;
}
.messages:before
{
    padding-right: 20px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    font-size:18px;
    content: "\e013";
    color:#3c763d;
}
